*
!.gitignore
!ts-on.sh
!Remtm
!rem-rest
!personal-agent/
!personal-agent/**
!personal-agent/providers/
!personal-agent/providers/**
!.devcontainer/
!.devcontainer/**

__pycache__/
personal-agent/__pycache__/
personal-agent/**/__pycache__/
